
body {
    font-family : "Fira Code", 'serif', Times, Raavi;
    font-size : 20px;
    text-align : center;
    margin : 0 auto;
    padding : 0;
    width : 1000px;
}
header {
    height : 100px;
    border : 1px solid black;
}
.logo {
    background : #722caa;
    float : left;
    margin : 5px;
    padding : 25px;
    width : 180px;
}
.menu_site {
    position: relative;
    top:50px;
    height: 400px;
    float: none;
    margin-top: -20px;
    padding: 0;
    margin-left: 260px;

}
.product_categories, .content {
    height : 500px;
    margin : 0 auto;
    padding : 0;
    border : 1px solid black;
}
.product_categories {
    width : 300px;
    float : left;
}
li {
    list-style: none;
}
ul {
    margin-left : 0;
    padding-left : 0;
}
.content {
    float : none;
    margin-left: 303px;
}
footer {
    height : 50px;
    border : 1px solid black;
    font-size: 20px;
}
.cont {
    width : 120px;
    height : 160px;
    background : white ;
    margin : 25px;
    padding : 20px;
    display: inline-block;
    border : 1px solid black;
    font-size: 10px;
}
.img{
    width : 100px;
    height : 80px;
    margin : 5px;
    padding : 5px;
    border : 1px solid black;
    font-size: 10px;

}
.var{
    width : 110px;
    height : 15px;
    border : 1px solid black;
    margin-top : 37px;
    margin-left: 6px ;

}

